.custom__select{
  border: none;
  width: auto;
  padding: {
    top: 4px;
    right: 2rem;
    bottom: 4px;
    left: 4px;
  };
  background-image: url("../images/arrow_bottom.svg");
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
  &:hover{
    background-color: $light;
  }
}
.list-group-item{
  cursor: pointer;
  &:hover{
    background-color: $light;
  }
}

.card{
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    padding: {
      top: 1rem;
      right: 1rem;
      bottom: 1rem;
      left: 1rem;
    };
  }
  &__img{
    // 用 width 會被壓縮
    min-width: 40px;
    height: 40px;
  }
  &__body{
    padding: {
      top: 1rem;
      right: 1rem;
      bottom: 1rem;
      left: 1rem;
    };
  }
}

.ck-editor{
  position: absolute !important;
  top: -2rem;
  right: -1rem;
  bottom: -2rem;
  left: -1rem;
  &__main{
    height: calc(100% + 19px);
  }
  &__editable{
    height: 100%;
  }
  &__button{
    display: none;
    position: absolute;
    bottom: -58px;
    right: 0;
  }
  &.show + &__button{
    display: block;
  }
}