.nav{
  min-width: 296px;
  height: 100vh;
}
.logo{
  width: 151px;
  height: 40px;
}
.userCard{
  display: flex;
  align-items: center;
  &__img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  &__title{
    margin-bottom: 4px;
    font-weight: 700;
  }
  &__content{
    color: $secondary;
    font-size: 14px;
  }
}
.nav__item{
  text-decoration: none;
  display: block;
  color: $dark;
  border-left: 4px solid transparent;
  padding: {
    top: 8px;
    bottom: 8px;
    left: 34px;
  };
  >.material-icons{
    vertical-align: middle;
  }
  &:hover{
    color: $primary;
    background-color: $gray-200;
    border-color: $primary;
  }
}
