<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- 載入 bootstrap -->
    <!-- <link rel="stylesheet" href="./assets/style/bootstrap.css"> -->
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="d-flex">
    <nav class="nav bg-light flex-column justify-content-between">
      <div>
        <h1 class="logo bg-cover-center my-6 ms-6" style="background-image: url(./assets/images/logo-ANSWER.svg);">
          <a href="./index.html" class="d-block w-100 h-100">
            <div class="visually-hidden">
              ANSWER
            </div>
          </a>
        </h1>
        <ul>
          <li>
            <a href="#" class="nav__item">
              <span class="material-icons me-4">
                poll
              </span>
              <span class="fw-bold">
                Dashboard
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav__item">
              <span class="material-icons me-4">
                  question_answer
              </span>
              <span class="fw-bold">
                Question
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav__item">
              <span class="material-icons me-4">
                assignment
              </span>
              <span class="fw-bold">
                Assignment
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav__item">
              <span class="material-icons me-4">
                video_library
              </span>
              <span class="fw-bold">
                Course
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav__item">
              <span class="material-icons me-4">
                group
                </span>
              <span class="fw-bold">
                Admin
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="nav__item">
              <span class="material-icons me-4">
                settings
              </span>
              <span class="fw-bold">
                Settings
              </span>
            </a>
          </li>
        </ul>
      </div> 
      <div class="userCard ps-6 pb-6">
        <img src="./assets/images/andychen.jpeg" alt="Andy Chen" class="userCard__img">
        <div class="userCard__body">
          <h5 class="userCard__title">Andy Chen</h5>
          <p class="userCard__content mb-0">andy0401@mail.com</p>
        </div>
      </div>
    </nav>

    <%- contents %>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>